##NUMBERS in PYTHON
There are three numerical data types in python:
* int
* float
* complex

In [ ]:
#EXAMPLE
x = 12    #int
y = 12.5  #Float
z = 1j    #Complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

##INT or INTEGER DATA TYPE
In Python, integers are zero, positive or negative whole numbers without a fractional part and having unlimited precision, e.g. 0, 100, -10.

In [1]:
#INT EXAMPLES
x = 8
y = 12345678907532223929859357
z = -23445667

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

###FLOAT DATAT TYPE
Floating point numbers are decimal values or fractional numbers like 133.5, 2897.11, and 3571.213, whereas real numbers like 56, 2, and 33 are called integers.

In [2]:
#FLOAT EXAMPLES
x = 1222.3443
y = 2.0
z = -334059.1

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [3]:
#Float can also be scientific numbers with an "e" to indicate the power of 10.
x = 1222e10
y = 10E8
z = -34.7e200

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

###COMPLEX DATA TYPE
The complex data type in python consists of two values, the first one is the real part of the complex number, and the second one is the imaginary part of the complex number. We usually denote the real part using i and the imaginary part with j. For example, (3 + 7j) or (3i + 7j).

In [5]:
#COMPLEX DATA TYPE EXAMPLE
x = 12+55j
y = 53654j
z = -12345j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

###CONVERSION OF DATATYPES
You can convert from one type to another with the int(), float(), and complex() methods:

In [6]:
#CONVERSION OF DATA TYPES
x = 23    # int
y = 12.8  # float
z = 13j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

23.0
12
(23+0j)
<class 'float'>
<class 'int'>
<class 'complex'>