In [ ]:
#Dictionary works in pair

In [ ]:
info={
    "Key": "value",
    "name": "aman",
    "learning": "python",
    "age": 22,
    "is_student": True,
    "marks" : "82.2"
}
print(type(info))

<class 'dict'>

In [ ]:
print(info["name"])
print(info["learning"])
print(info["age"])
print(info["is_student"])
print(info["marks"])

aman
python
22
True
82.2

In [ ]:
#NESTED DICTIONARY
student = {
    "name": "aman",
    "subjects": {
        "physics": 78,
        "chemistry": 87,
        "biology": 97
    }
}
print(student)
print(student["subjects"])
print(student["subjects"]["physics"])

{'name': 'aman', 'subjects': {'physics': 78, 'chemistry': 87, 'biology': 97}}
{'physics': 78, 'chemistry': 87, 'biology': 97}
78

In [24]:
#NESTED DICTIONARY
student = {
    "name": "aman",
    "subjects": {
        "physics": 78,
        "chemistry": 87,
        "biology": 97
    }
}
print(len(student.keys()))
print(student.keys())
print(list(student.values()))
print(list(student.items()))
print(student.get("name"))
student.update({"city": "Indore" , "age" : "22"})
print(student)

2
dict_keys(['name', 'subjects'])
['aman', {'physics': 78, 'chemistry': 87, 'biology': 97}]
[('name', 'aman'), ('subjects', {'physics': 78, 'chemistry': 87, 'biology': 97})]
aman
{'name': 'aman', 'subjects': {'physics': 78, 'chemistry': 87, 'biology': 97}, 'city': 'Indore', 'age': '22'}

In [26]:
#STES
#Collection of Unordered Items
#Each element in set must be unique and immutable

In [28]:
 collection={1,2,3,4,5}
 print(type(collection))
 print(collection)

<class 'set'>
{1, 2, 3, 4, 5}

In [30]:
 collection={1,2,3,4,5,"hello","world","world"}
 print(type(collection))
 print(collection) #Duplicates not allowed

<class 'set'>
{1, 2, 3, 4, 5, 'hello', 'world'}

In [31]:
 collection={1,2,3,4,5,"hello","world","world"}
 print(type(collection))
 print(len(collection))

<class 'set'>
7

In [32]:
 collection={} #empty dict, not a set
 print(type(collection))

<class 'dict'>

In [33]:
 collection=set() #set
 print(type(collection))

<class 'set'>

In [35]:
collection = set()
collection.add(1)
collection.add(2)
collection.add(3)
collection.add(4)
collection.add(4) #dosent print duplicate elements
print(collection)

{1, 2, 3, 4}

In [38]:
collection = set()
collection.add(1)
collection.add(2)
collection.add(3)
collection.add(4)
collection.add(4) #dosent print duplicate elements
collection.remove(4) #removes all duplicate and original elements
print(collection)

{1, 2, 3}

In [41]:
collection = set()
collection.add(1)
collection.add(2)
collection.add(3)
collection.add(4)
collection.add(4)
collection.remove(4)
collection.clear
print(len(collection))

3

In [46]:
collection={"python","java","cpp","html","js","css"}
print(collection.pop()) #randomly pop out i.e. picks out any element from the collection

css

In [49]:
#UNION-combines both set values and returns new
set1={1,2,3}
set2={2,3,4}
print(set1.union(set2))
print(set1)
print(set2)

{1, 2, 3, 4}
{1, 2, 3}
{2, 3, 4}

In [51]:
#INTERSECTION-combines both set values and returns new
set1={1,2,3}
set2={2,3,4}
print(set1.intersection(set2))

{2, 3}

In [54]:
#store the following word meanings in a dictionary
#table : "a piece of furniture" , "list of facts and figures"
#cat : "a small animal"
dictionary= {
    "table": ["a piece of furniture", "list of facts and figures"],
    "cat": "a small animal"
}
print(dictionary)

{'table': ['a piece of furniture', 'list of facts and figures'], 'cat': 'a small animal'}

In [61]:
'''you are given a list of subjects for students. Assume one class is required
for 1 subject. How many classrooms are needed by all students
"python", "java", "C++", "python", "javascript", "java", "python", "C++", "C" '''

#CODE:
subjects = {
    "python", "java", "C++", "python", "javascript", "java", "python", "C++", "C"
}
print(len(subjects))

5