In [ ]:
#functions in python
#block of statements that perform a specific task

In [ ]:
#function defination
def calc_sum(a,b):
  sum=a+b         #function body(parameter)
  return sum      #function call

In [ ]:
calc_sum(12,23)

35

In [ ]:
calc_sum(3,4)

7

In [ ]:
def calc_avg(a,b,c):
  sum=a+b+c
  avg=sum/3
  return avg

In [ ]:
calc_avg(12,23,34)

23.0

In [ ]:
def print_hello():
  print("hello")

In [ ]:
print_hello()
print_hello()
print_hello()

hello
hello
hello

In [ ]:
def cal_prod(a=1, b=2):
  print(a*b)
  return a*b
cal_prod(1)

2

2

In [ ]:
citis = ["delhi", "mumbai", "indore", "banglore", "bhopal"]
heros = ["ironman", "spiderman", "hulk", "blackpanther"]

def print_len(list):
  print(len(list))

print_len(citis)
print_len(heros)

5
4

In [ ]:
citis = ["delhi", "mumbai", "indore", "banglore", "bhopal"]
heros = ["ironman", "spiderman", "hulk", "blackpanther"]

print(heros[0], end=" ")
print(heros[1], end=" ")

def print_len(list):
  print(len(list))

print_len(citis)
print_len(heros)

ironman spiderman 5
4

In [ ]:
citis = ["delhi", "mumbai", "indore", "banglore", "bhopal"]
heros = ["ironman", "spiderman", "hulk", "blackpanther"]

def print_len(list):
  print(len(list))

def print_list(list):
  for item in list:
    print(item, end=" ")

print_list(heros)

ironman spiderman hulk blackpanther

In [ ]:
n=5
def cal_fact(n):
  fact = 1
  for i in range(1, n+1):
    fact *= i
  print(fact)
cal_fact(5)

120

In [ ]:
#USD to INR
#1USD = 83INR
def converter(usd_val):
  inr_val = usd_val * 83
  print(usd_val, "USD = ", inr_val, "INR")
converter(int(input("Enter the USD value:")))

Enter the USD value:65
65 USD =  5395 INR

In [ ]:
def eo(num):
  if num % 2 == 0:
    print("number is even")
  else:
    print("number is odd")
eo(int(input("Enter the number:")))

Enter the number:23
number is odd

In [ ]:
#RECURSION
def show(n):
  if(n == 0):
    return
  print(n)
  show(n-1)
show(5)

5
4
3
2
1

In [7]:
#factorial of a number
def fact(n):
  if(n==0 or n==1):
    return 1
  return n * fact(n-1)
print(fact(6))

720

In [8]:
#calculate sum of first n natural numbers
def calc_sum(n):
  if(n==0):
    return 0
  return calc_sum(n-1) + n

sum = calc_sum(5)
print(sum)

15

In [9]:
#recursive function to print all emlements in a list
def print_list(list, idx=0):
  if (idx == len(list)):
    return
  print(list[idx])
  print_list(list,idx+1)

fruits = ["mango", "litchi", "apple", "banana"]
print_list(fruits)

mango
litchi
apple
banana