In [64]:
marks = [67.8, 98.7, 78.9, 94.7, 89.9, 97.8, 58.7]
print(marks)
print(type(marks))
print(marks[4])
print(marks[1])

[67.8, 98.7, 78.9, 94.7, 89.9, 97.8, 58.7]
<class 'list'>
89.9
98.7

In [65]:
#STRINGS are mutable
#LISTS are mutable

In [68]:
student=["aman", 94.7, 18, "Indore"]
print(student[3])
student[3]="patna"
print(student)

Indore
['aman', 94.7, 18, 'patna']

In [69]:
 #LIST METHODS
 list=[1,2,3,4,5,6,7,8,9]
 list.append(4)
 print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 4]

In [71]:
list=[5,4,3,2,1,6,7,8,9]
list.sort()
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
list=[5,4,3,2,1,6,7,8,9]
list.sort(reverse=True)
print(list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [77]:
list=['apple', 'banana', 'litchi', 'grapes', 'mango']
print(list.sort())
print(list)

None
['apple', 'banana', 'grapes', 'litchi', 'mango']

In [79]:
list=[5,4,3,2,1,6,7,8,9]
list.insert(1,5)
print(list)

[5, 5, 4, 3, 2, 1, 6, 7, 8, 9]

In [80]:
list=[5,4,3,2,1,6,7,8,9]
list.pop(5)
print(list)

[5, 4, 3, 2, 1, 7, 8, 9]

In [81]:
list=[5,4,3,2,1,6,7,8,9]
list.remove(2)
print(list)

[5, 4, 3, 1, 6, 7, 8, 9]

In [82]:
#TUPLES
#creates immutable lists

In [86]:
tup=(1,2,3,4,5,6,7,8,9)
print(tup)
print(type(tup[1:3]))

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [87]:
tup=(1,2,3,4,5,6,7,8,9)
print(tup.index(2))

1

In [89]:
tup=(1,2,2,2,3,4,5,6,7,8,9)
print(tup.count(2))

3

In [91]:
#Program to ask the user to enter names of their 3 favourite movies and store them in a list
movies=[]
mov1=input("Enter the name of your first favourite movie: ")
mov2=input("Enter the name of your second favourite movie: ")
mov3=input("Enter the name of your third favourite movie: ")
movies.append(mov1)
movies.append(mov2)
movies.append(mov3)
print(movies)

Enter the name of your first favourite movie: Twilight
Enter the name of your second favourite movie: John Wick
Enter the name of your third favourite movie: Fast & Furious
['Twilight', 'John Wick', 'Fast & Furious']

In [95]:
#program to check if a list contains a palindrome of elements.(Hint: use copu() method())
list1=[1,2,1]
list2=[1,2,3]

copy_list1 = list1.copy()
copy_list1.reverse()

if(copy_list1 == list2):
  print("True")
else:
  print("False")

False