In [4]:
light=input("light: ")
if(light=="red"):
    print("stop")
elif(light=="yellow"):
    print("ready")
elif(light=="green"):
    print("go")
else:
  print("light is broken")

light: black
light is broken

In [9]:
marks=int(input("marks: "))
if(marks >= 90):
  print("A")
elif(marks >= 80 and marks <90):
  print("B")
elif(marks >= 70 and marks <80):
  print("C")
else:
  print("D")

marks: 12
D

In [13]:
A = int(input("A: "))
G = input("M/F: ")
if((A==1 or A==2) and G=="M"):
  print("Fee is 100")
elif(A==3 or A==4 or G=="F"):
  print("Fee is 200")
elif(A==5 and G=="M"):
  print("Fee is 300")
else:
  print("No Fee")

A: 1
M/F: m
No Fee

In [15]:
food=input("food: ")
eat="Yes" if food == "cake" else "no"
print(eat)

food: cake
Yes

In [16]:
food=input("food: ")
print("sweet") if food=="cake" or food=="jalebi" else print("not sweet")

food: jalebi
sweet

In [20]:
age=int(input("age: "))
vote = ("no", "yes") [age>=18]
print (vote)

age: 18
yes

In [21]:
sal=float(input("salary: "))
tax=sal*(0.1,0.2) [sal>50000]
print(tax)

salary: 34004
3400.4